#bodyproducts .form {
    align-items: center;
    justify-content: space-between;
    padding-bottom: 10px;
}
.btn_left{
    text-align: left;
}

.imgzoom:hover .zoom {
    -webkit-transform:scale(1.3);transform:scale(1.3);
}
.imgzoom {
    overflow:hidden;
}

/* esto es para la imagen de prueba */
.img1{
    width: 300px;
}

.img-container:hover .img-effect {
    -webkit-transform:scale(1.3);
    transform:scale(1.3);
}

.img-container {
    overflow:hidden;
}